{% extends "base.html" %}
{% block content %}
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 offset-1 float-md-center">
    <div class="jumbotron" style="width: 200%; margin-top: 30px;background-color:#7386D5;">
        <div style="color: white; margin-bottom: 25px;"><center><h3>Project Summary</h3></center></div>
        <h4 style="color: white;">
        </ul>
            Name of the Software : <div style="margin-top:10px;"><li>Altreks</li></div><br>
            What it does? :<div style="margin-top:10px;"><li>Helps Faculty Examiners to view their exam slots, set availability status, request swap of slots from 
            available faculty and get notified about their slots.</li>
        <br/>
        
        <div style="margin-top:10px;">
                <li>Helps Exam Controlling Admins to create/view/update exam schedules, approve the swap requests received
            from the faculty, set restrictions for faculty from invigilating a particular exam slot.
        </li>
        </div>
        <br/>
        Team Members : <div style="margin-top:10px;">
            <li>Rajasekar M - Scrum Master</li>
            <li>Ashwin B - Developer 1</li>
            <li>Badreesh B - Tester</li>
            <li>Kurra Sushant - Database Designer</li>
            <li>Geetesh TG - Developer 2</li>
        </div>
        </h4>
    </ul>
    </div>
</div>
{% endblock %}